<nb-card>
  <nb-card-header>
    {{mantenedor}}
  </nb-card-header>
  <nb-card-body>
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>{{getOperacion()}} {{mantenedor}}</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs">
            <nb-select placeholder="Modelo" *ngIf="modeloCbo" fullWidth (selectedChange)="changeModelo($event)" selected="{{modeloId}}" >
              <nb-option *ngFor="let option of modeloCbo" value="{{ option.id }}">
                {{ option.codigoModelo }}
              </nb-option>
            </nb-select>
          </div>
          <div class="full-name-inputs">
            <nb-select placeholder="Suministro" *ngIf="suministroCbo" fullWidth (selectedChange)="changeSuministroId($event)" selected="{{suministroId}}" >
              <nb-option *ngFor="let option of suministroCbo" value="{{ option.id }}">
                {{ option.modelo }}
              </nb-option>
            </nb-select>
          </div>

          <div class="buttons-row">
            <button (click)="saveButton()"  [disabled]="shouldDisableSaveButton()" nbButton [status]="'primary'">
              Grabar
            </button>

            <button (click)="cleanForm()" nbButton [status]="'warning'">
              Limpiar
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>

    <ng2-smart-table  (userRowSelect)="onSelectRow($event)" [settings]="settings" [source]="source"  (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Error</nb-card-header>
    <nb-card-body><br>{{errorMsg}}<br></nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Ok</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
